html,body,.container-fluid,.content{
	height: 100%;
}
*{
	margin: 0 ;
	padding: 0 ;
	list-style: none;
}
.container-fluid{
	padding: 0 !important;
	margin: 0 !important;
	overflow: hidden;
}
.top{
	font-size: 20px;
	font-weight: bold;
	padding: 0.5em;
	background-color:#99cccc;
	color: white;
}

}
.top .col-5{
	text-align: center;
	margin: 0 !important;
}
h2{
	margin-top:12px  !important;
	float: left;
	margin-left: 20px;
	color: #003366;
}
img{
	float: left;
}
#by {
	position: fixed;
	top: 20px;
	margin-right: 0;
	right: 30px	!important;
	color: #cc3333;		
	font-size: 1.3em;

}
.left{
	background-color: #99cccc;
	padding-right: 0 !important;
}

.left ul li{
	text-align: center;
	height: 60px;
	line-height: 60px;
	border-bottom: 1px solid #333;
	border-top: 1px solid #333;
	cursor: pointer;
}
/*.left ul:first-child(1) > li {
	border-top: 1px solid #333;*/
}
.right{
	margin: 0 !important;
	padding-left: 1em !important;	
	background-color: #fff;
}
.wrapper{
	margin: 1em;
	border-radius: 4px;
	background-color: #ffffff;
	padding: 1em;
}

.icon-home{
	margin-right: 1em;

}
 ul li p{
 	margin: 0 !important;
 	padding: 0 !important;
} 
#user{
	font-size: 30px;
	margin-left: 8em;
}
.current{
	background-color: #ededed;
}
#index{
	cursor: pointer;
}
